NEXT_PUBLIC_SUPABASE_URL =XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_OPENROUTER_API_KEY = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_SUPABASE_ANON_KEY = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX